chumpy==0.70
conda-pack==0.6.0
ConfigArgParse==1.5.3
Cython==3.0.0
easydict==1.10
fvcore==0.1.5.post20221122
imageio==2.10.5
imageio-ffmpeg==0.4.8
importlib-metadata==5.1.0
lpips==0.1.4
munch==2.5.0
ninja==1.11.1
numpy==1.23.5
opencv-python==4.6.0.66
pandas==1.5.2
Pillow==9.3.0
PyMCubes==0.1.2
pyparsing==3.0.9
pytorch-fid==0.3.0
pytorch-fid-wrapper==0.0.4
pytorch3d==0.6.2
PyYAML==6.0
scipy==1.9.3
smplx==0.1.28
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
torch==1.10.1+cu111
torch-ema==0.3
torchmetrics==0.11.1
torchsummary==1.5.1
torchvision==0.11.2+cu111
tqdm==4.64.1
trimesh==3.17.1
yacs==0.1.8